body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

footer h1{
  display: flex;
  justify-content: center;
}

footer span{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
a{
  text-decoration: none;
  color:  white;
}
footer img{
  width: 30px;
  height: 30px;
}
footer p{
  margin-top: 30px;
}
